# 1. Write a function to get the maximum of 3 numbers.

In [79]:
def maximum_no(a, b, c):
    return max(a, b, c)
print("The maximum of 3 numbers:")
maximum_no(5,10,15)

The maximum of 3 numbers:

15

# 2. Write a function to check if the given number if even or not
Example:   
           is_even(10) , then o/p: even   
           is_even(23), then o/p: odd

In [97]:
def is_even(x):
    if x%2==0:
        print("even",x)
    else:
        print("odd",x)
is_even(10)
is_even(13)

even 10
odd 13

# 3. Write a program to get the sum of all the values in given list,
 Example:   
       my_sum([1,2,3,4,5]), then o/p: 15   
       my_sum([10,11,12]), then o/p: 33

In [100]:
def my_sum(x):
    sum=0
    for i in x:
        sum+=i
    print(sum)
my_sum([1,2,3,4,5])
my_sum([10,11,12])

15
33

# 4. Construct your own function my_range() which acts as range() to print numbers in forward direction (step is positive) and backward direction(step is negative) with given start,stop and step as parameters.  
eg: my_range(1,10,1), then o/p= 1,2,3,4,5,6,7,8,9   

my_range(1,10,2), then o/p= 1,3,5,7,9   

my_range(10,1,-1), then o/p = 10,9,8,7,6,5,4,3,2   

my_range(10,1,-2), then o/p = 10,8,6,4,2

In [234]:
def myrange(x,y,z):
    for i in range(x,y,z):
        print(i,end=",") 
    print("\n")
myrange(1,10,1)
myrange(1,10,2)
myrange(10,1,-1)
myrange(10,1,-2)

1,2,3,4,5,6,7,8,9,

1,3,5,7,9,

10,9,8,7,6,5,4,3,2,

10,8,6,4,2,

# 5. Multiply numbers with given start and stop (using loops)  
        Example: start=1, stop= 5, then o/p: 120     
        start=3, stop=5, then o/p: 60

In [262]:
def mult(x,y):
    num=1
    for i in range(x,y+1):
        num*=i
    print(num)
mult(1,5)
mult(3,5)

120
60

# 6. Construct a function for fibonacci series(fib()) using
a.loops   
b.recursion   
Expected o/p :   
fib(5), then o/p= 0 1 1 2 3   
fib(7), then o/p= 0 1 1 2 3 5 8

In [297]:
def fib(x):
    if x<=1:
        return 1
    else:
        return fib(x-1)+fib(x-2)
for i in range(5):
    print(fib(i),end="")

11235

# 7. Create a Factorial with loops.

In [1]:
num = int(input("Enter a number: "))
fact = 1
for i in range(1, num + 1):
    fact *= i
    
print("Factorial of", num, "is", fact)

Enter a number:  3

Factorial of 3 is 6

# 8. Design star pattern

In [320]:
def star(x):
    for i in range(x):
        print("*"*i)
star(6)

*
**
***
****
*****

# 9. Design box of number

In [7]:
for i in range(5, 0, -1):         
    for j in range(5):           
        print(i, end=' ')        
    print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1