## 1. Immutability in python tuples with example. Discuss why tuples are considered immutable data structures.

- In Python, immutability means that once an object is created, it cannot be changed.Any attempt to change its contents will result in an error.  
- A tuple is a built-in data structure in Python that is ordered, can contain heterogeneous data, and is immutable.  
- You cannot change, add, or remove items after the tuple is created.  
- Tuples protect data from accidental modification.  
**Tuples are considered immutable data structures beacause:**
  - Data integrity
  - Hashable
  - Faster than list
  - Safe in multi-threading

In [7]:
num=(1,2,3,4)
num[0]=5

TypeError: 'tuple' object does not support item assignment

## 2. Tuple basics create a python tuple containing the names of your favorite fruits.write a python program to print each fruit name from the tuple

In [16]:
fruits=("mango","banana","grapes","orange","apple")
print("My favorite fruits are:",fruits)

My favorite fruits are: ('mango', 'banana', 'grapes', 'orange', 'apple')

## 3. Given two tuples, write a python program to concatenate them into a single tuple and then find the length of the resulting tuple.

In [33]:
num1=(1,2,3,4)
num2=(5,6,7,8)
num3=num1+num2
print("Concatenate of num1 and num2:",num3)
print("Length of the resulting tuple:",len(num3))

Concatenate of num1 and num2: (1, 2, 3, 4, 5, 6, 7, 8)
Length of the resulting tuple: 8

## 4. Write a python program that makes a tuple of integers and converts it into a set .Then,find and print the maximum and minimum value from the set.

In [52]:
num=(1,2,3,4,5)
set1=set(num)
print("Converted tuple to set:",set1)
print("Maximum value from set is:",max(set1))
print("Minimum value from set is:",min(set1))

Converted tuple to set: {1, 2, 3, 4, 5}
Maximum value from set is: 5
Minimum value from set is: 1

## 5. Tuple slicing given a tuple of 10 elements, write a python program to print the elements from the 3rd to the 7th position using slicing

In [61]:
num=(1,2,3,4,5,6,7,8,9,10)
print("Elements from 3 to 7 are:",num[2:7])

Elements from 3 to 7 are: (3, 4, 5, 6, 7)

## 6. Access value 20 from the tuple1 = ("Orange",[10,20,30],(5,15,25))

In [70]:
tuple1=("Orange",[10,20,30],(5,15,25))
print("The access value:",tuple1[1][1])

The access value: 20

## 7. tup=(1,2,3,2,4,5,3,4,2).Count the occurrences of element '2' in the given tuple.

In [83]:
tup=(1,2,3,2,4,5,3,4,2)
print("The occurrences of 2 is:",tup.count(2))

The occurrences of 2 is: 3

## 8. Create a tuple of numbers. Use slicing to create a new tuple containing only the even -indexed elements of the original tuple.

In [96]:
num=(1,2,3,4,5,6,7,8,9,10)
print("The even number elements are:",num[1:10:2])

The even number elements are: (2, 4, 6, 8, 10)