# 1.  Write a program to print the first 10 even numbers using while loop

In [39]:
i=2
num=10
print("Even Numbers of First 10 number are:")
while i<num:
    if i%2==0:
        print (i)
    i+=1

Even Numbers of First 10 number are:
2
4
6
8

# 2. Write a program to print the first 10 odd numbers using while loop

In [68]:
i=0
num=10
print("odd Numbers of First 10 number are:")
while i<num:
    if i%2!=0:
        print(i)
        
    i+=1

odd Numbers of First 10 number are:
1
3
5
7
9

# 3. Write a program to print the first 10 natural numbers using while loop

In [71]:
i=0
num=10
print("First 10 natural numbers are:")
while i<num:
    i+=1
    print(i)

First 10 natural numbers are:
1
2
3
4
5
6
7
8
9
10

# 4. Write a program to print the first 10 Whole numbers using while loop

In [90]:
i=-1
num=10
print("First 10 whole numbers are:")
while i<num:
    i+=1
    print(i)

First 10 whole numbers are:
0
1
2
3
4
5
6
7
8
9
10

# 5. Write a program to prints the numbers from 1 to 10, each on a new line.

In [97]:
i=0
num=10
print("Numbers on new line")
while i<num:
    i+=1
    print("\n",i)

Numbers on new line

 1

 2

 3

 4

 5

 6

 7

 8

 9

 10

# 6. Write a program that print the even numbers from 1 to 20, each on new line.

In [138]:
print("The even number from 1 to 20 on new line are:")
for i in range (1,20):
    if i%2==0:
        print("\n",i)

The even number from 1 to 20 on new line are:

 2

 4

 6

 8

 10

 12

 14

 16

 18

# 7. Write a program that calculates and prints the sqaure of each number from 1 to 20

In [134]:
print("The square of each number are:")
for i in range (1,20):
    print(i**2)

The square of each number are:
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

# 8. Write a program that prints the multiplies of 3 to 30, each on new line

In [143]:
print("The mutiplies of 3 from 3 to 30 are:")
for i in range(1,11):
    print(i*3)

The mutiplies of 3 from 3 to 30 are:
3
6
9
12
15
18
21
24
27
30

# 9. Write a program that prints the numbers from 10 to 1 in descending order

In [156]:
print("The number in descendong order are:")
for i in range(10,0,-1):
    print(i)

The number in descendong order are:
10
9
8
7
6
5
4
3
2
1

# 10. Count the number of vowels in a string using a for loop
### s2="Hello World"

In [175]:
s2="Hello World"
vowels="aeiou"
count=0
print("The vowel are:")
for i in s2:
    if i in vowels:
        count+=1
        print(i)
print("The count of vowels are:",count)

The vowel are:
e
o
o
The count of vowels are: 3

# 11. Display numbers from -10 to -1 using for loop

In [178]:
print("The number from -10 to -1 are:")
for i in range(-10,0,1):
    print(i)

The number from -10 to -1 are:
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

# 12. Find all prime numbers between 1 and 50 using a for loop.

In [197]:
print("All prime numbers from 1 to 15 are :")
for num in range(2, 50):
    is_prime = True  
    for i in range(2, int(num ** 0.5) + 1):  
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)

All prime numbers from 1 to 15 are :
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

# 13. Print all uppercase letters in the string using a for loop.
### s="Innomatics Research Labs"

In [215]:
s = "Innomatics Reasearch Labs"
print("In uppercase letters:")
for i in s:
    print(i.upper())

In uppercase letters:
I
N
N
O
M
A
T
I
C
S

R
E
A
S
E
A
R
C
H

L
A
B
S